# ====================
# Java / Maven
# ====================
target/
*.class

# ====================
# IDE files
# ====================
.idea/
*.iml
.vscode/

# ====================
# OS junk
# ====================
.DS_Store
Thumbs.db

# ====================
# Logs
# ====================
*.log

# ====================
# Env & secrets
# ====================
.env
application-local.properties
